.home {
  width: 100%;
  .navbar {
    position: relative;                                                                                                                                                                                                                                                          
    width: 100%;
    top: 0;
    padding: 10% 6%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    .toggleMenu {
      display: none;
    }
    .logo {
      border-radius: 50%;
      color: #ffffff;
      font-size: 30px;
      font-weight: bolder;
    }
    .navList {
      display: flex;
      li,
      a {
        margin: 0 20px 0 0;
        font-family: "Inter", sans-serif;
        // font-size: 20px;
        color: #ffff;
        font-size: 1rem;
        font-weight: bold;
        transition: color 0.3s ease;
      }
      li:hover {
        color: #145239;
      }
    }
    .mobNav {
      display: none;
    }
    .mobnav {
      display: none;
    }

    .lan {
      display: flex;
      li {
        margin: 0 10px 0 0;
        font-family: "Inter", sans-serif;
        // font-size: 20px;
        background-color: transparent;
        border: 1px solid #174a42;
        color: #ffffff;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        border-radius: 5px;
        transition: all 0.3s ease;
      }
      li:hover {
        background-color: #174a42;
        color: #ffffff;
      }
    }
  }
  .homepage {
    padding: 7% 3%;
    background-image: url("../../../public/images/bcimage.jpg");
    background-size: cover;
    background-position: center;
    min-height: 695px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      letter-spacing: 1.2px;
      color: #fff;
    }
    h2 {
      font-size: 1.2rem;
      margin-bottom: 30px;
      line-height: 1.6;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      color: #fff;
      max-width: 50%;
    }
    .contact-team {
      width: 30%;
      margin-top: 2rem;
      padding: 0.8rem 2rem;
      border-radius: 25px;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
      transition: background-color 0.3s ease;
      background-color: #174a42;
      border: none;
    }

    .contact-team a {
      color: #ffffff;
    }

    .contact-team:hover {
      background-color: #096c5e;
    }
  }
  .contactForm {
    padding: 1.5rem 0;
    background-color: #000;
    .form-container {
      background-color: #111921; /* Neutral white background */
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      width: 100%;
      max-width: 400px;
      color: #174a42;
      margin: 0 auto;
      .form-header {
        text-align: center;
        margin-bottom: 1.5rem;
      }

      .form-header h1 {
        font-size: 1.8rem;
        color: #ffffff;
      }

      .form-group {
        margin-bottom: 1.5rem;
      }

      .form-group label {
        display: block;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 0.5rem;
      }

      .form-group input {
        width: 100%;
        padding: 0.9rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f4f9f8;
        color: #174a42;
        transition: all 0.3s ease;
      }

      .form-group input:focus {
        outline: none;
        background-color: #ffffff;
        box-shadow: 0 0 5px rgba(23, 74, 66, 0.8);
      }

      .submit-btn {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        background-color: #174a42;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      .submit-btn:hover {
        background-color: #145239;
      }

      .form-footer {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.9rem;
        color: #777;
      }
    }
  }
  .footer-container {
    padding: 2rem 1rem;
    text-align: center;
    // display: flex;
    justify-content: center;
    background-color: #101820;
    color: #fff;
    padding: 40px 20px 10px 20px;
    font-family: "Arial", sans-serif;
    .text {
      width: 100%;
      font-size: 80%;
      color: #777;
      a {
        color: #777;
      }
      a:hover {
        color: #444;
      }
    }
    .footer-list {
      display: flex;
      justify-content: center;
      padding: 0 5%;
      margin: 0 0 20px 0;
      .firstPart {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px 0 0;
        .logo {
          border-radius: 50%;
          color: #ffffff;
          font-size: 35px;
          font-weight: bolder;
        }
        .social-media {
          margin: 30px 0 0 0;
          display: flex;
          gap: 15px;
          li a {
            margin: 0 10px 0 0;
            color: #fff;
            font-size: 1.5rem;
            text-decoration: none;
            transition: transform 0.3s ease, color 0.3s ease;
          }
          li a:hover {
            color: #ff8c00;
            transform: scale(1.2);
          }
        }
      }
      .secondPart {
        width: 30%;
        .list {
          margin: 20px 0 0 0;
        }
        li {
          margin: 0 0 20px 0;
        }
        a {
          color: #fff;
          text-decoration: none;
          font-size: 1rem;
          transition: color 0.3s ease;
        }
        a:hover {
          color: #ff8c00;
        }
      }
      .lastPart {
        width: 30%;
        margin: 0 0 0 30px;
        .list li {
          margin: 0 0 20px 0;
        }
        a {
          color: #ff8c00;
          text-decoration: none;
          transition: color 0.3s ease;
        }
        a:hover {
          color: #fff;
        }
      }
    }
  }
  .teamMembers {
    padding: 2rem 1rem 3rem 1rem;
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: #ffffff;
    text-align: center;
    h2 {
      font-size: 2.5rem;
      color: #ffffff;
      animation: fadeInDown 1s ease-in-out;
    }

    .team-members {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
      padding: 50px 20px 0 20px;
    }

    .team-member {
      background-color: #111921;
      border-radius: 15px;
      padding: 20px;
      width: 250px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.5s ease, transform 0.5s ease;
      transform: scale(0.95);
    }
    .team-member.visible {
      opacity: 1;
      animation: fadeInUp 1.5s ease-in-out forwards;
    }
    .team-member:hover {
      transform: scale(1.05);
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
    }

    .team-member img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 15px;
      border: 3px solid #00b894;
      transition: transform 0.3s ease-in-out;
    }

    .team-member h3 {
      color: #ffffff;
      font-size: 1.2rem;
      margin: 10px 0 5px;
    }

    .team-member span {
      font-weight: bold;
      margin-bottom: 1rem;
      font-size: 0.9rem;
      color: #b2bec3;
    }
    .contact-team {
      display: inline-block;
      margin-top: 20px;
      padding: 12px 30px;
      background-color: #174f46;
      color: #ffffff;
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
      border: none;
      border-radius: 25px;
      transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    .contact-team:hover {
      background-color: #009b76;
      transform: scale(1.1);
    }

    .contact-team a {
      color: #ffffff;
    }
  }
  .services {
    background-color: #000; /* Dark background */
    padding: 4rem 2rem;
    text-align: center;
    h1 {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: #ffffff;
      margin-bottom: 40px;
    }

    .services-carousel {
      // display: flex;
      transition: transform 0.5s ease-in-out;
      gap: 2rem;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .service-container {
      background-color: #111921;
      border-radius: 12px;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
      img {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
      }
    }
    .service-container:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    }

    .service-container h3 {
      font-size: 1.2rem;
      // color: #174a42;
      margin-bottom: 1rem;
      // font-size: 14px;
      line-height: 1.6;
      color: #ffffff;
    }
    .service-container p {
      color: #ffffff;
    }

    .service-container img {
      width: 60px;
      height: 60px;
      margin-bottom: 1rem;
    }
  }
  .about-us {
    padding: 50px 20px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: #000000;
    color: #174f46;

    .about-header h2 {
      font-size: 36px;
      margin-bottom: 20px;
      color: #ffffff;
    }

    .about-facts {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }

    .fact-card {
      background: #111921;
      border-radius: 8px;
      padding: 20px;
      width: 200px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      animation: fadeIn 1s ease-in-out both;
      transition: transform 0.3s ease-in-out;
    }
    .fact-card:hover {
      animation: popUp 0.3s ease-in-out forwards; /* Pop-up on hover */
    }

    .fact-icon {
      // font-size: 5.5em;
      // color: #f06292; /* Accent color for icons */
      // margin-bottom: 10px;
      width: 40px;
      height: 40px;
      margin-bottom: 15px;
    }

    .fact-card h3 {
      // font-size: 1.8em;
      // margin: 10px 0;
      font-size: 24px;
      margin: 10px 0;
      color: #ffffff;
    }

    .fact-card p {
      font-size: 1em;
      color: #ffff;
    }
  }
  .cases {
    font-family: Arial, sans-serif;
    background-color: #000;
    padding: 30px 0 0 0;
    h2 {
      font-size: 2rem;
      margin-bottom: 30px;
      color: #ffffff;
      text-align: center;
    }
    .caseList {
      background-color: #000000;
      padding: 50px 20px;
      text-align: center;
      // width: 70%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin: 0 auto;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
      justify-items: center;
      max-width: 1200px;
      .items {
        width: 100%;
        border-radius: 50%;
        // width: 150px;
        // height: 150px;
        background-color: #000;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, background-color 0.3s ease,
          box-shadow 0.3s ease;
      }
      .items:hover {
        transform: scale(1.1);
        background-color: #444;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
      }
    }
    @media (max-width: 768px) {
      .caseList {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 15px;
      }

      .caseList .items {
        width: 120px;
        // height: 120px;
        font-size: 0.9rem;
      }
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes popUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
@media (max-width: 1000px) {
  .home {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    .navbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .toggleMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          width: 40px;
          height: 4px;
          background-color: #ffffff;
          margin: 0 0 10px 0;
          border-radius: 10%;
          display: block;
          transition: transform 0.3s ease, opacity 0.3s ease;
        }
      }
      .menu-open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          width: 40px;
          height: 4px;
          background-color: #ffffff;
          margin: 0 0 10px 0;
          border-radius: 10px;
          display: block;
          transition: transform 0.3s ease, opacity 0.3s ease;
        }
        span:nth-child(1) {
          transform: rotate(40deg) translate(4px, 4px);
        }

        span:nth-child(2) {
          display: none;
        }

        span:nth-child(3) {
          transform: rotate(-40deg) translate(6px, -6px);
        }
      }
      .navList,
      .lan {
        display: none;
      }
      .mobNav {
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        left: 0;
        text-align: center;
        background-color: #000;
        padding: 20px 0;
        display: block;
        li {
          margin: 0 0 20px 0;
          a {
            color: #ffffff;
            font-size: 1.5rem;
          }
        }
        .mobLan {
          display: flex;
          margin: 0 auto;
          justify-content: center;
          li {
            margin: 0 20px 0 0;
            font-family: "Inter", sans-serif;
            background-color: transparent;
            border: 1px solid #174a42;
            color: #ffffff;
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
            border-radius: 5px;
            transition: all 0.3s ease;
          }
        }
      }
      .mobnav {
        display: none;
      }
    }
    .services {
      h1 {
        font-size: 1.5rem;
      }
    }
    .cases {
      h2 {
        font-size: 1.5rem;
      }
    }
    .about-us {
      .about-header {
        h2 {
          font-size: 1.5rem;
        }
      }
    }
    .homepage {
      display: block;
      padding-left: 7%;
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 0.7rem;
        max-width: 70%;
      }
      .contact-team {
        width: 60%;
        margin-top: 1rem;
        padding: 3% 4%;
        border-radius: 25px;
        font-size: 90%;
        font-weight: bold;
        transition: background-color 0.3s ease;
        background-color: #174a42;
        border: none;
      }

      .contact-team a {
        color: #ffffff;
      }
    }
    .footer-container {
      display: block;
      padding: 2rem 1rem;
      text-align: center;
      justify-content: center;
      background-color: #101820;
      color: #fff;
      padding: 40px 20px 10px 20px;
      font-family: "Arial", sans-serif;
      .text {
        width: 100%;
        font-size: 80%;
        color: #777;
        a {
          color: #777;
        }
        a:hover {
          color: #444;
        }
      }
      .footer-list {
        display: flex;
        justify-content: center;
        padding: 0 5%;
        margin: 0 0 20px 0;
        .firstPart {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0 30px 0 0;
          .logo {
            border-radius: 50%;
            color: #ffffff;
            font-size: 30px;
            font-weight: bolder;
          }
          .social-media {
            margin: 30px 0 0 0;
            display: flex;
            flex-direction: column;
            gap: 15px;
            li a {
              margin: 0 10px 0 0;
              color: #fff;
              font-size: 1.5rem;
              text-decoration: none;
              transition: transform 0.3s ease, color 0.3s ease;
            }
            li a:hover {
              color: #ff8c00;
              transform: scale(1.2);
            }
          }
        }
        .secondPart {
          width: 30%;
          h2 {
            font-size: 1rem;
          }
          .list {
            margin: 20px 0 0 0;
          }
          li {
            margin: 0 0 20px 0;
          }
          a {
            color: #fff;
            text-decoration: none;
            font-size: 0.7rem;
            transition: color 0.3s ease;
          }
          a:hover {
            color: #ff8c00;
          }
        }
        .lastPart {
          width: 30%;
          margin: 0 0 0 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .list li {
            margin: 0 0 20px 0;
            font-size: 0.7rem;
          }
          a {
            max-width: 80%;
            color: #ff8c00;
            text-decoration: none;
            transition: color 0.3s ease;
            font-size: 0.6rem;
          }
          a:hover {
            color: #fff;
          }
        }
      }
    }
    .teamMembers{
      h2{
        font-size: 1.5rem;
      }
    }
    .contactForm{
      .form-container{
        .form-header h1{
          font-size: 1.5rem;
        }
      }
    }
  }
}
